<!DOCTYPE html>
<html>
    <head>
    </head>
    <body onload ="setD(`<%= JSON.stringify(required)%>`)">
       
    </body>
</html>
<script>
    function setD(required){
        console.log(JSON.parse(required));
    }
</script>
